---
import '../styles.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer';
---

<Layout title="GDPR - Ochrana osobných údajov">
    <Header name='gdpr' />
    <div 
        class="p-4 mt-10 md:ml-10 md:mr-10 xl:mt-20 xl:ml-44 xl:mr-44 font-inter relative"
        data-aos="fade-up"
        data-aos-delay={1200}
        data-aos-duration="600"
        data-aos-easing="ease-in-sine"  
    >
        <h2 class='font-bold text-lg lg:text-2xl'>
            1. Úvod
        </h2>
        <br />
        <p class="xl:text-lg md:w-3/4">
            Vítame vás na našej webovej stránke! Predtým, než nám poskytnete svoje osobné údaje, prosím, prečítajte si túto informačnú stránku o ochrane osobných údajov.
        </p>
        <br />
        <br />
        <h2 class='font-bold text-lg xl:text-2xl'>
            2. Aké osobné údaje zbierame a prečo?
        </h2>
        <br />
        <p class="xl:text-lg md:w-3/4">
            Pri vyplňovaní kontaktného formulára na našej stránke nám môžete poskytnúť nasledujúce osobné údaje:
                <br />
                <br />
                <li>
                    Meno
                </li>
                <li>
                    E-mailová adresa
                </li>
                <li>
                    Telefónne číslo
                </li>
                <li>
                    Správa
                </li>
                <br />
            
                Tieto údaje zbierame výlučne na účely komunikácie s vami ohľadom vášho záujmu o naše produkty a služby.
        </p>
        <br />
        <br />
        <h2 class='font-bold text-lg xl:text-2xl'>
            3. Ako budeme používať vaše údaje?
        </h2>
        <br />
        <p class="xl:text-lg md:w-3/4">
            Vaše osobné údaje budú použité výlučne na účely, pre ktoré nám boli poskytnuté – teda na komunikáciu s vami ohľadom vášho záujmu o naše produkty a služby. Nebudeme ich zdieľať s tretími stranami bez vášho výslovného súhlasu.
        </p>
        <br />
        <br />
        <h2 class='font-bold text-lg xl:text-2xl'>
            4. Ako dlho budeme uchovávať vaše údaje?
        </h2>
        <br />
        <p class="xl:text-lg md:w-3/4">
            Vaše osobné údaje budeme uchovávať iba po dobu nevyhnutnú na splnenie účelu, pre ktorý boli získané. Po ukončení tejto doby budú odstránené z našich systémov.
        </p>
        <br />
        <br />
        <h2 class='font-bold text-lg xl:text-2xl'>
            5. Vaše práva
        </h2>
        <br />
        <p class="xl:text-lg md:w-3/4">
            Ako dotknutá osoba máte právo:
            <br />
            <br />
            <li>
                Požiadať o prístup k svojim osobným údajom
            </li>
            <li>
                Opraviť nepresné alebo neúplné údaje
            </li>
            <li>
            Namietať voči spracúvaniu údajov
            </li>
            <li>
            Požiadať o vymazanie vašich údajov
            </li>
        </p>
        <br />
        <br />
        <h2 class='font-bold text-lg xl:text-2xl'>
            6. Kontakt
        </h2>
        <br />
        <p class="xl:text-lg  md:w-3/4">
            Ak máte akékoľvek otázky alebo pripomienky k ochrane osobných údajov, neváhajte nás kontaktovať na lpnabytok@gmail.com, info@lpnabytok.sk alebo na telefónne číslo +421 910 443 393.
            <br />
            <br />
            Ďakujeme, že ste si prečítali našu informačnú stránku o ochrane osobných údajov.
        </p>
    </div>
    <Footer />
</Layout>