---
import '../styles.css';
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact'
import Header from '../components/Header.astro';
---

<Layout title="Kontakt">
    <Header name='kontakt' />
    <div 
        class="mt-5 flex flex-col items-center lg:flex-row lg:justify-evenly lg:mt-20 font-inter text-center lg:text-start"
        data-aos="fade-up"
        data-aos-delay={1200}
        data-aos-duration="600"
        data-aos-easing="ease-in-sine"  
    >
        <img class="rounded-full h-64 w-64 lg:h-96 lg:w-96 object-cover" src="/unknow.webp" alt="Ladislav Pavličko-fotka" />
        <div class="lg:w-1/5">
            <br />
            <p>
                Rampová 3 <br />
                04001, Košice <br />
                Slovensko <br />
                IČO: 44220464 <br />
                DIČ: 1080017510 <br />
            <br />
            <div class="flex">
                <img src="/phone.svg" alt="telefón" /> +421 910 443 393 <br />
            </div>
            <div class="flex">
                <img src="/emailsvg.svg" alt="email" /> lpnabytok@gmail.com <br />
            </div>
            <div class="flex">
                <img src="/emailsvg.svg" alt="email" /> info@lpnabytok.sk <br />
            </div>
            </p>
        </div>
    </div>
    <Contact />
</Layout>