---
import MotivationText from "./MotivationText.astro";
import Grid from "./Grid.astro";
---

<div 
    class="font-inter justify-center mt-10 md:mt-20 scroll-mt-24" id="products" 
>
    <MotivationText />
    <Grid />
</div>